
 <div class="admin-menu-container">
    <h1><%= admin_nav_head %></h1>
      <nav class="admin-bets-menu">
        <ul>
        <li> <%= link_to "Add a prize", new_prize_path %> </li>
        <li> <%= link_to "All prizes", prizes_path %> </li>
        </ul>
      </nav>
    </div>