<div class="container">
  <div class="row">
    <div class="user-bet-form" style="margin-top: 110px; margin-bottom: 110px;">
      <h2>You can't register admin account<br/> trough the site</h2>
    </div>
  </div>
</div>
