$main_red: #db2f2e; 
$main_text_on_white: #555;
$main_background: #1b1b1b;
$main_seperation_color: #212121;
$main_link_color: #840917;
$main_dark: #444;

$main_color: #151515;
$main_color2: #c4c4c4;
$main_color3: #5b1414;
$main_color4: #505050;
$main_color5: #ababab;