/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* google fonts */
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
 @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);


 html,
 body {
 	width: 100%;
 	height: 100%;
 	margin: 0 auto;
 	padding: 0;
 }

 td,th {
 	border: 1px solid #333;
 	text-align: center;
 }

/*showing bets in main page */

.bet_layout {
	width: 400px;
	height: 100px;
	background: #333;
	color: #fff;
}

.bet_layout p {
	text-align: center;
	margin-top: 40px;
	padding-top: 20px;
}

.team_one,
.team_two {
	font-size: 16px;
	font-weight: bold;
}

.team_one_chance,
.team_two_chance {
	font-size: 14px;
	font-weight: bold;
}

.team_one_chance {
	padding-right: 20px;
}

.team_two_chance {
	padding-left: 20px;
}

.values {
	text-align: center;
}

.team_one_value,
.team_two_value {
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}




.main-nav-container {
  position: fixed;
  width: 100%;
  height: 63px;
  /* background: rgba(0, 0, 0, 0.25); */
  z-index: 1; /* because of filter:grayscale of head-bgr */
}

.menu-admins,
.menu-users {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px; /* 15px because of bootstraps container */

  :first-child {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }

  a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    line-height: 60px;
  }
}

.menu-if-not-logged {
  display: inline-block;
  float: right;
}
