/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require main
 *= require_tree .
 *= require_self
 */


a {
  text-decoration: none;
}

 @import 'functions';
 @import 'variables';
 @import 'responsive-nav';
 @import 'font-awesome.min';

 html,
 body {
 	width: 100%;
 	height: 100%;
 	margin: 0 auto;
 	padding: 0;
  background-color: $main_background;
 }

.no-padding {
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/*showing bets in main page */

.bet_layout {
	width: 400px;
	height: 100px;
	background: #333;
	color: #fff;
}

.bet_layout p {
	text-align: center;
	margin-top: 40px;
	padding-top: 20px;
}

.team_one,
.team_two {
	font-size: 16px;
	font-weight: bold;
}

.team_one_chance,
.team_two_chance {
	font-size: 14px;
	font-weight: bold;
}

.team_one_chance {
	padding-right: 20px;
}

.team_two_chance {
	padding-left: 20px;
}

.values {
	text-align: center;
}

.team_one_value,
.team_two_value {
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}




.main-nav-container {
  width: 100%;
  height: 63px;
  /* background: rgba(0, 0, 0, 0.25); */
  z-index: 1; /* because of filter:grayscale of head-bgr */
}

.menu-admins,
.menu-users {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px; /* 15px because of bootstraps container */

  :first-child {
    padding-left: 0;
  }

  li ul {
    opacity: 0;
    position: absolute;
  }

  li:hover > ul {
    border: 1px solid red;
    opacity: 1;
  }

  li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }

  a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $main_text_on_white;
    font-size: 14px;
    line-height: 60px;
  }

  @include bp-medium {
    display: none;
  }
}

.menu-if-not-logged,
.menu-if-logged {
  display: inline-block;
  float: right;
}

.slicknav_menu {
  background: $main_color;
}

#my-menu ul {
  padding-left: 0;
}

.head-nav-container {
  @include bp-large {
    display: none;
  }
}

.slicknav_menu {
  position: fixed;
  width: 100%;
  z-index: 999999;

  @include bp-large {
    height: rem-calc(64px);
  }

  ul {
    background-color: $main_color;
    margin-left: 0;
  }
}

.logo {
  @include bp-large {
    color: $main_red;
    font-size: rem-calc(24px);
    font-weight: 700;
    margin-top: rem-calc(5px);
  }
}

.slicknav_btn {
  font-size: rem-calc(22px);
  margin-top: rem-calc(8px);
  padding: rem-calc(8px);
  background: 0;
}

//Slider

.slider-container {
  margin-top: rem-calc(130px);

  @include bp-large {
    margin-top: rem-calc(100px);
  }
}

.bx-wrapper {
  width: 100%;
  height: rem-calc(400px);

  .bx-viewport {
    position: static !important; 
  }

  img {
    height: rem-calc(450px);
    width: 100%;
  }

  .bx-viewport {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
    background: 0;
  }

  @include bp-large {
    height: 100%;

    img {
      height: 100%;
    }
  }

  .bx-pager.bx-default-pager a {
    width: 100%;
    height: rem-calc(6px);
    background: red;
    margin: rem-calc(2px);
    border-radius: 0;
    background: $main_color3;

    @include prefix(transition, 0.3s);

    &:active,
    &:hover {
      background: $main_red;
      @include prefix(transition, 0.3s);
    }
  }

  .bx-pager.bx-default-pager a.active {
    background: $main_red;
  }

  .bx-pager {
  
    .bx-pager-item {
      @include prefix(box-sizing, border-box);
      width: 33.33333%;
      padding: rem-calc(4px);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
  
    }
  
  }

}


.slider-slide-container {
  height: rem-calc(400px);
  background: $main_background;
  //border: 1px solid red;

  .slider-headline {
    color: $main_red;
    font-size: rem-calc(54px);
    font-weight: 700;
    text-transform: uppercase;
    // padding-top: rem-calc(100px);
    // padding-left: rem-calc(50px);
  }

  .slider-subline {
    color: $main_color4;
    font-size: rem-calc(28px);
    line-height: 1.5em;
    padding-top: rem-calc(20px);
    // padding-left: rem-calc(50px);
  }

  .slider-image {
    background-image: url('../assets/game_mouse_trans.png');
    background-repeat: no-repeat;
    width: rem-calc(320px);
    height: rem-calc(300px);
    margin-top: -7.5rem;
    margin-right: rem-calc(80px);
    float: right;
  }

  .slider-headline,
  .slider-subline {
    //padding-left: rem-calc(20px);
  }
}

//Coming soon matches
.match-container,
.game-info-container {
  height: rem-calc(90px);
}

.match-finished-returned {

}

.matches-soon-container {
  background: url('../assets/matches_container.jpg');
  width: 100%;
  margin-top: rem-calc(120px);

  @include bp-medium {
    margin-top: rem-calc(0px);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.match-container {

  background: rgba(0, 0, 0, 0.45);

  h1,
  h2,
  h3 {
    font-family: 'Montserrat', sans-serif;
  }

  h2,
  h3 {
    text-transform: uppercase;
    font-size: rem-calc(14px);
    color: $main_color4;
  }

  h1 {

    font-size: rem-calc(18px);
    color: $main_color4;

    span {
       font-size: rem-calc(22px);
      color: $main_color2; 
    }

  }

}


.section_headline,
.matches-to-be-played {
  color: $main_red;
  font-size: rem-calc(28px);
  font-weight: 700;

  text-align: center;
  padding-bottom: rem-calc(63px);
}

.section_headline {
  //border: 1px solid red;
  padding: rem-calc(50px 0);
  @include bp-medium {
    padding-top: rem-calc(40px);
    padding-bottom: rem-calc(10px);
  }
}

.section-single {
  @include bp-medium {
    padding-top: 6rem;
  }
}

.last-added-prizes-container {
  // margin-top: rem-calc(60px);
   padding-bottom: rem-calc(130px);
}

.matches-to-be-played {
  font-size: rem-calc(22px);
  text-align: left;
  padding: 0;

  @include bp-medium {
    padding-top: rem-calc(20px);
  }
}

.last-prize-name {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: rem-calc(22px);
  padding-top: rem-calc(43px);
  position: absolute;
  left: 0;
  right: 0;
}


//Footer
.footer-menu {

  .footer-sign {
    padding-top: rem-calc(26px);
  }

  ul li {
    text-transform: uppercase;
    font-size: rem-calc(14);
    padding: rem-calc(5px 0);

    a {
      color: $main_color5;
    }
  }
}

.footer-menu-social {
  text-align: right;
  margin-top: rem-calc(65px);

  i,
  a {
    font-size: rem-calc(28px);
    color: $main_color5;
    padding:rem-calc(0 4px);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include prefix(transition, 0.4s);
    &:hover {
      @include prefix(transition, 0.4s);
      color: $main_red;
    }
  }

  .footer-email {
    font-size: rem-calc(16px);
    margin-top: rem-calc(5px);
    color: $main_color5;
  }

  @include bp-large {
    text-align: center;
  }
}

.footer-copyright {
  width: 100%;
  height: rem-calc(60px);
  text-align: center;
  background: #111;
  margin-top: rem-calc(35px);


  .copyright-text {
    font-size: rem-calc(14px);
    color: $main_color2;
    padding-top: rem-calc(21px);
  }
}


.match-single-info {
  padding: rem-calc(40px 40px);
  background-color: $main_background2;

  text-align: left;
  width: 100%;
  color: $main_color2;

  .match-single-info-headline {
    font-size: rem-calc(22px);
    font-weight: 700;
    display: inline-block;
  }

  .match-single-info-container {
    display: inline-block;
    position: relative;
    right: 0;
    float: right;
    padding-top: rem-calc(6px);
  }
}



.user-bet-form {
  color: $main_color2;
  width: 90%;
  float: left;
  position: relative;
  background: $main_background2;

  @include border-box;
  padding: rem-calc(40px);
  padding-right: 0;
}

#user_bet_bet_points,
select[name="user_bet[bet_on_id]"] {
  background: $main_color2;
  border: 0;
  color: $main_color;
  width: 100%;
  height: rem-calc(40px); 
  margin-top: rem-calc(10px);
  padding: rem-calc(10px);
}

#user_bet_bet_points {
}

select[name="user_bet[bet_on_id]"] {
  float: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.field-match {
  display: inline-block;
  width: 45%;
  //border: 3px solid blue;
}

.field-bet-id {
  float: right;
}

.user-bet-submit {
  border: 1px blue;
  width: 100%;
  height: rem-calc(40px);
  margin-top: rem-calc(10px);

  button[type="submit"] {
  width: 100%;
  height: 100%;
  border: 0;
  margin-top: 0;
}
}

.profile-info-container {
  background: $main_background2;
  margin: (110px 0);
  //padding: rem-calc(20px);
  overflow: auto;

  p {   
    padding-left: rem-calc(20px);
  }
}

.slicknav_menu {
  display:none;

  @include bp-large {
    display: block;
  }
}

.slicknav_nav {
  li, a {
    padding: rem-calc(10px);
    font-size: rem-calc(16px);
  
    &:last-child {
    }
  }
}

#menu {
  @include bp-large {
    display: none;
  }
}

@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  .js #menu {
    display:none;
  }
  
  .js .slicknav_menu {
    display:block;
  }
}


.main-nav {


  ul {
    padding-top: rem-calc(22px);
    display: inline-block;
    float: right;
  }

  li {
    font-size: rem-calc(14px);
    list-style-type: none;
    display: inline-block;
    padding: rem-calc(0 10px);
    @include prefix(transition, 0.4s);

    a {
      color: $main-color;
    }
  }

  li:hover > .dropdown {
    @include prefix(transition, 0.4s);
    display: block;
    height: auto;
  }
}


.main-nav .dropdown {
  position: absolute;
  background: $main_red;
  padding: 0;
  display: none;
  z-index: 999;
  height: 0;

  li {
    display: block;
    padding: rem-calc(10px 10px);
    width: rem-calc(160px);
    //border-top: 1px solid $main_color3;
    color: #fff;


    &:hover {
      @include prefix(transition, 0.4s);
      //background: $main_color3;
      color: $main_color3;
    }

  }
}



/* ----------------------- *\ 
--- PROFILE PROGRESS BAR ---
\* ----------------------- */
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 150px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $main_red;
  position: relative;
  box-shadow: 0px 1px 10px $main_color3;
  &.gt-50 {
    background-color: $main_red;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: $main_color3;;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: $main_color3;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: $main_color3;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: $main_red;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 30px auto 0;
  margin-top: rem-calc(50px);
}


/* --------------------------- *\
---------- User Profile ---------
\* --------------------------- */


.user-info {
  margin-top: rem-calc(92px);
  //margin-bottom: rem-calc(20px);
  text-align: center;
  position: relative;
  height: 100%;
}

.user-points,
.user-won-bets,
.user-lost-bets,
.user-level,
.user-level-progress {
  span {
    color: $main_color3;
  }

  color: $main_color3;
}

.user-name {
  padding-top: rem-calc(75px);
  text-align: center;
  font-size: rem-calc(24px);
  font-weight: 700;
  color: $main_color;
}

.user-level {
  text-align: center;
  margin-top: rem-calc(20px);
}

.user-level-progress {
  text-align: center;
}

.profile-matches-headline {
  font-size: rem-calc(22px);
  font-weight: 700;

  //padding-top: rem-calc(30px);

  @include bp-medium {
    padding-top: rem-calc(50px);
  }
}

.user-bet-won-first,
.user-bet-won-second,
.user-bet-lost-first,
.user-bet-lost-second {
  h2 {
    display: block;
    float: none;
    text-align: left;
    line-height: rem-calc(20px);
    height: rem-calc(20px);
    right: 75px;
    margin-right: 0;
    margin-top: -6px;
    position: absolute;
  }
}

.user-bet-won-first,
.user-bet-won-second {
  h2,
  h3 {
    color: $won_color;
  }

  &:hover {
    .versus,
    h2,
    h3 {
      color: $main_color;
    }
  }
}

.user-bet-lost-first,
.user-bet-lost-second {

  h2,
  h3 {
    color: $main-red;
  }

  &:hover {
    .versus,
    h2,
    h3 {
      color: $main_color;
    }
  }
}

.user-bet-won-first .user-bet-first-team,
.user-bet-won-second .user-bet-second-team {
  color: $won_color;
}

.user-bet-lost-first .user-bet-first-team,
.user-bet-lost-second .user-bet-second-team {
  color: $main-red;
}


.profile-bought-prizes-container {
  padding-top: rem-calc(50px);

  .prize-container { 
    height: rem-calc(110px);
  }
}

.profile-prizes-headline {
  //padding-left: rem-calc(16px);
  padding-bottom: rem-calc(30px);
  font-size: rem-calc(22px);
  font-weight: 700;

  @include bp-medium {
    padding-left: 0;
    padding-bottom: 0;
  }
}

/* ------------------------ *\
------- Prizes Single --------
\* ------------------------ */

.prize-single-thumbnail {
  width: 100%;
  height: rem-calc(250px);
 // margin: rem-calc(100px 0);
}

.prize-single-info {
  //margin-top: rem-calc(100px);
  margin-left: rem-calc(50px);
  background: $main_background2;
  padding: rem-calc(50px);
  margin-bottom: rem-calc(100px);

  p {
    color: #999;
  }

  @include bp-medium {
    margin-top: rem-calc(50px);
    margin-bottom: rem-calc(50px);
    margin-left: 0;
    padding: rem-calc(30px);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    padding: rem-calc(5px 0);
    color: #999;
  }

  li:before {
     content: "• ";
     font-size: rem-calc(24px);
     color: $main_red;
  }
}

.prize-single-name{
  font-size: rem-calc(24px);
  color: $main_color;
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
}

.single-prize-btn {
  width: 100%;
  //margin-bottom: rem-calc(70px);
  background: $main_red;
}



/* --------------------- *\
------- Admin Panel -------
\* --------------------- */


// Bets Navigation

.admin-menu-container {
  //border: 1px solid red;
  background: $main_color;
  padding: rem-calc(20px);
  margin: rem-calc(50px 0);
  margin-top: rem-calc(100px);

  h1 {
    margin-top: rem-calc(12px);
    padding-right: rem-calc(50px);
    padding-left: rem-calc(30px);
    display: inline-block;
    float: left;
    font-size: rem-calc(22px);
    text-transform: uppercase;

    @include bp-large {
      float: none;
      padding-left: 0;
    }
  }

  @include bp-medium {
    margin-top: rem-calc(100px);
    margin-bottom: 0;
  }
}

.admin-bets-menu {
  ul {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
  }

  ul li {
    display: inline-block;
    // padding: rem-calc(10px);
    // background: red;

    font-size: rem-calc(14px);
    text-transform: uppercase;
    padding: rem-calc(0 10px);

    &:first-child {
      padding-left: 0;
    }

    a:hover {
      color: $main-red;
    }
  }
}

/* ------------------ *\
------ Show pages ------
\* ------------------ */

.show-container {
  background: $main_color;
  padding: rem-calc(50px);
  margin: rem-calc(50px 0);
}


/* ------------------ *\
---- Delivery new ----
\* ------------------ */

.delivery-new-prize-container  {
  background: $main_background2;
  margin: rem-calc(100px 0);

  @include bp-medium {
    margin: rem-calc(40px 0);
  }
}















/*-----------------------------------------*\
---------------- REDESIGN ------------------
\*-----------------------------------------*/

.head-welcome-container {
  max-width: rem-calc(750px);
  margin: 0 auto;
  margin-top: rem-calc(170px);
}

.welcome-headline {
  color: $main_color;
  font-size: rem-calc(58px);
  font-weight: 700;
  text-align: center;
}

.welcome-subline {
  color: #999;
  font-size: rem-calc(24px);
  line-height: rem-calc(38px);
  text-align: center;
  font-weight: 400;
  max-width: rem-calc(750px);
  margin: 0 auto;

  margin-top: rem-calc(65px);
  margin-bottom: rem-calc(90px);
}

.welcome-buttons-container {
  margin: 0 auto;
  width: 100%;

  display: flex;
  justify-content: center;
}

.welcome-button {
  margin-left: rem-calc(30px);
  margin-right: rem-calc(30px);
  width: rem-calc(295px);
  height: rem-calc(50px);
  border: 0;
  background: $main_red;

  
  color: #fff;
  font-size: rem-calc(18px);
}

.content-headline-bline,
.content-headline {
  font-size: rem-calc(36px);
  color: $main_color;
  font-weight: 700;
  display: inline-block;
}

.content-headline-bline {
  height: rem-calc(5px);
  width: rem-calc(30px);
  background: $main_color;
  margin-bottom: rem-calc(10px);
  margin-right: rem-calc(15px);
}

/*--------------------------------*\
-------- STARTING SOON M -----------
\*--------------------------------*/

.starting-soon-big-container {
  background: $main_background2;
  margin-top: rem-calc(110px);
  padding-bottom: rem-calc(70px);
}

.starting-soon-container {
  margin-top: rem-calc(70px);
}

.starting-soon-matches {
 // margin-top: rem-calc(70px);
}


.match-container {
  height: rem-calc(105px);
  background: $main_color;
  margin: rem-calc(70px 0);

  h1 span {
    color: #fff;
    font-size: rem-calc(24px);
  }
}

.game-info-container {
  background: 0;
  margin-top: rem-calc(30px);
  margin-left: rem-calc(30px);
  display: inline-block;
  position: absolute;
  left: 0;
    
    p {
      color: $main_color6;
      font-size: rem-calc(15px);
      font-weight: 700;
      text-align: left;
      line-height: rem-calc(6px);
    };
}

.starting-time h2{
  color: $main_color6;
  font-size: rem-calc(15px);
  font-weight: 700;
  text-align: right;

  margin-top: rem-calc(4px);
}


/*--------------------------------*\
-------- PRIZES LAST ADD -----------
\*--------------------------------*/

.home-prizes-container {
  margin-top: rem-calc(70px);
}


.home-prizes-showing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: rem-calc(100px);

  @include bp-medium {
    flex-direction: column;
  }
}

.last-prize-name {
  position: relative;
  color: $main_color;
}

.the-prize-container {
  width: 340px;
  margin-top: rem-calc(70px);

  @include bp-medium {
    width: 100%;
  }
}

.prize-container,
.btn-buy-prize {
  width: 100%;
}

.btn-buy-prize {
  margin-top: rem-calc(25px);
  height: rem-calc(50px);
}

.prize-container-hover {
  background: rgba(255, 255, 255, 0.85);
}

.matches-soon-container {
  background: $main_background;
  padding-bottom: 0;
}

/*-------------------------------------------------------------------*\
--Additional classes for overwriting in html without using style tag--
\*-------------------------------------------------------------------*/

.no-padding { padding: 0; };
.no-padding-top { padding-top: 0; };

.padding-50-bp {
  padding: rem-calc(50px);

  @include bp-medium {
    padding: rem-calc(0px);
  }
}

.color-red { color: $main_red; }

.padding-50 { padding: rem-calc(50px); }
.no-padding-top { padding-top: 0; }

.full-width { width: 100%; }

.no-margin { margin: 0 };
.no-margin-top { margin-top: 0; }
.margin-bot-top-100 { margin: rem-calc(100p 0); }

.won-color-text { color: #4ecc11; }
.won-color-background { color: #4ecc11; }
.lost-color-text { color: $main_color; }
.lost-color-background { color: $main-color };

.left { float: left; }
.rigt { float: right; }

.row {
  margin-left: 0;
  margin-right: 0;
}

.row {
  @include bp-large {
    margin: (0 15px);
  }
}