// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'inc/variables';
@import 'inc/functions';
@import 'inc/jquery.bxslider';
@import 'inc/responsive-nav';
@import 'inc/navicon';
@import 'inc/slicknav';


* {
  @include prefix(transition, 0.4s);
  color: $main_color2;
}

.no-padding { padding: 0; };
.no-padding-top { padding-top: 0; };

.no-margin { margin: 0 };
.no-margin-top { margin-top: 0; }

table {
  margin-bottom: rem-calc(50px);
}

table,
td,
th {
  font-family: 'Roboto', sans-serif;
  font-size: rem-calc(14px);

  padding: 4px;
  text-align: center;
  border: 1px solid #ddd;

  a {
    text-decoration: none;
    color: $main_red;

    &:hover {
      color: $main_color3;
      text-decoration: overline;
    }
  }
}

tr td {
  background: $main_background2;;
  padding: rem-calc(10px);
}

tr th,
tr td {
  background: $main_background2;
  padding: rem-calc(10px);
  color: #777;
}

thead {
  text-transform: capitalize;
}

select,
input {
  background: #fff;
  border: 0;
  padding: rem-calc(5px);

  color: $main_color !important;
  position: relative;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label {
  padding-top: rem-calc(10px);
  margin-top: rem-calc(10px);
  line-height: rem-calc(22px);
  color: $main_color;
}


form {
  background: $main_background2;
  //padding: rem-calc(50px);
}

button {
  color: #fff !important;
}

.field {
  margin-top: rem-calc(15px);
}

button[type="submit"] {
  padding: rem-calc(10px);
  width: 150px;
  border: 0;
  margin-top: rem-calc(40px);
  background: $main_red;

  &:hover {
    background: $main_color3;
  }
}

input[type="file"] {
  margin-top: rem-calc(30px);
}


.main-head {
  width: 100%;
  height: 340px;
  background: $main_background;
 /* linear-gradient(
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
      ),
  url(asset_path('warlock.jpg'));
  background-size: cover;*/

  background-position: 0 -200px;

  /* filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: gray; */

  @include bp-medium {
    background: none;
    height: 60px;
    border: 1px solid red;
  }


}

.welcome-info {
  margin-top: 135px;
  height: 100%;
  text-align: center;

  h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: rem-calc(48px);
    font-weight: 700;
    color: $main_text_on_white;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 350px;
    font-size: rem-calc(18px);
    color: $main_text_on_white;
    line-height: 24px;
    margin: 0 auto;
  }

  @include bp-medium {
    margin-top: 0;

    h2 {
      width: 100%;
      display: none;
    }

    h1 {
      font-size: rem-calc(28px);
    }
  }

  @include bp-medium {
    text-align: center;

    h2 {
      margin: 0 auto;
    }
  }
}

.welcome-sign-up {
  text-align: center;
  margin-top: 150px;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: rem-calc(20px);
    margin-bottom: 25px;
  }

  @include bp-medium {
    display: none;
  }
}

input[name='user[username]'],
input[name='user[email]'],
input[name='user[password]'],
input[name='user[password_confirmation]'],
input[name='commit'] {
  width: 240px;
  height: 48px;
  border: 0;
  background: #f6f6f6;
  // margin-top: 2px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #ccc;
}

input[name='commit'] {
  background: $main_red;
  font-weight: 700;
  color: #fff !important;
  text-align: center;
  padding-left: 0;
  // margin-top: 20px;
  font-size: rem-calc(16px);
}

input[type="submit"] {
  border: 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.welcome-btn-already-signedup {
  padding-top: 10px;
  font-size: rem-calc(14px);
  padding-right: 80px;

  a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }

  span {
    color: $main_red;
  }
}

#sign-in-element-to-pop-up,
#sign-up-element-to-pop-up {
  display: none;

  @include bp-large {
    display: none;
  }
}

.seperation-block {
  width: 100%;
  height: 70px;
  background: #fff;
  text-align: center;
  margin-top: -18px;

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $main_seperation_color;
    font-size: rem-calc(20px);
    text-transform: uppercase;
    @include vertical-align();
  }
}

.matches-soon-container {
  // padding-top: 50px;
  padding-bottom: rem-calc(130px);
  background:
  linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
  url(asset_path('warlock.jpg'));
  background-size: cover;
}

.match-container {
  width: 100%;
  //margin-top: 30px;
  // margin-bottom: 30px;
  text-align: center;
  color: $main_red;

  h1 {
    @include vertical-align();
    font-weight: bold;
    font-size: rem-calc(14px);
    color: $main_link_color;

    span {
      color: $main_red;
      font-size: rem-calc(18px);
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  h2,
  h3 {
    font-size: rem-calc(11px);
    margin-top: 25px;
    margin-right: 15px;
    float: right;
  }

  h3 {
    margin-right: 0;
    margin-left: 15px;
    float: left;
  }

  @include prefix(transition, 0.4s);

  @include bp-medium {
    width: 100%;
  }
}

.versus {
  display: inline-block;
}

.match-container:hover {


  background: $main_red;
  color: $main_link_color;

  .versus {
    @include prefix(transition, 0.4s);
    padding: rem-calc(0 25px);
  }

  h2,
  h3 {
    text-align: center;
    display: inline-block;
  }

  span {
    color: #fff;
  }

  @include bp-small {
    .versus {
      padding: 0;
    }
  }
}

.game-info-container {
  float: left;
  width: 40px;
  height: 80px;
  background: $main_red;

  p {
    position: relative;
    top: -6px;
   // @include vertical-align();
    // -webkit-transform: rotate(90deg) translateY(-0%) translateX(0%);// -73
    // -moz-transform: rotate(90deg) translateY(-0%) translateX(0%);// -73
    // -ms-transform: rotate(90deg) translateY(-0%) translateX(0%);// -73
    // -o-transform: rotate(90deg) translateY(-0%) translateX(0%); // -73

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $main_color;
    font-size: rem-calc(18px);
    text-transform: uppercase;
  }

}

.finished {
  .game-info-container {
    background: $main_color4;
  }

  h2, h3 {
    display: none;
  }

  &:hover {
    h2, h3, .game-info-container p{
      color: #000;
    }

    background: rgba(0, 0, 0, 0.8);

    .game-info-container {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  color: blue;
}

.prizes-container {
  margin-top: rem-calc(0);
}

.prize-info {
  h1 {
    width: 70%;
    display: inline-block;

    color: $main_red;
    font-family: 'Roboto', sans-serif;
    font-size: rem-calc(20px);
    text-align: left;
  }

  h2 {
    width: 25%;
    float: right;
    display: inline-block;
    text-align: right;

    font-size: rem-calc(16px);
    font-family: 'Roboto', sans-serif;
    color: $main_text_on_white;
  }
}

.prize-container {
  //margin-top: rem-calc(60px);
  width: 92%;
  height: 200px;
  background: #000;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  @include prefix(transition, 0.4s);
  margin: 0 auto;


  &:last-child {
  //  float: right;

    @include bp-medium {
      float: none
    }
  }

  &:hover {
    @include prefix(transition, 0.4s);
    filter: grayscale(0);
    -webkit-filter: grayscale(0);

    > .prize-container-hover {
      background: 0;
      @include prefix(transition, 0.4s);

      .last-prize-name {
        // position: absolute;
        // left: 0;
        // right: 0;
        // opacity: 0;
        // margin-top: rem-calc(-50px);
        color: $main_red;
        @include prefix(transition, 0.4s);
      }
    }
  }

  @include bp-medium {
    margin-top: rem-calc(30px);
    width: 100%;

  }
}

.last-added-prizes-container > .prize-container:first-of-type {
  border: 30px solid red;
}

.btn-buy-prize {
  width: 92%;
  height: 40px;
  background: $main_color;
  color: $main_color5;
  border: 0;
  float: none;
  margin: 0 auto;

  color: #fff;
  margin-top: rem-calc(10px);
  @include prefix(transition, 0.4s);

  position: relative;
  display: block;

  //float: left;

  &:last-child {
    //float: right;
  }

  &:hover {
    @include prefix(transition, 0.4s);
    background: $main_red;
    color: #fff;
  }

  @include bp-medium {
    width: 100%;
  }
}


.prize-container-hover {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  width: 100%;
  @include prefix(transition, 0.4s);
}


footer {
  position: relative;
  width: 100%;
  padding-top: 40px;
//  padding-bottom: 40px;
  background-color: $main_background2;
  font-size: rem-calc(14px);
  color: $main_link_color;

  a {
    text-decoration: none;
    color: $main_link_color;
  }

  ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
  }

  span a,
  span {
    line-height: 40px;
    font-family: "Roboto Slab", sans-serif;
    font-size: rem-calc(16px);
    color: #fff;
  }
}



// -------------------------------------
.head-nav-container {
  background: $main_background;
  height: rem-calc(96px);
  position: fixed;
  z-index: 9999999999;
  left: 0;
  right: 0;
  top: 0;

  .logo {
    font-size: rem-calc(26px);
    color: $main_red;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin-top: rem-calc(30px);
  }

  @include bp-large {
    position: fixed;
    width: 100%;
    z-index: 999999;
  }

  .head-nav {
    text-align: center;
    border: 1px solid red;

    ul {
      margin-top: rem-calc(41px);
    }

    ul li {
      display: inline;

      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: rem-calc(14px);
      text-transform: uppercase;
      padding: rem-calc(0 13px);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        color: $main_color2;
        text-decoration: none;
      }
    }

      @include bp-large {
        position: fixed;
        ul {
          height: 350px;
          position: fixed;
          z-index: 9999;
          width: 100%;
          top: rem-calc(80px);
          left: 0;
          text-align: left;

          li,
          li:first-child,
          .sign-menu li {
            display: block;
            padding-left: rem-calc(20px);
          }
        }
      }

    ul ul {
      display: none;
      position: absolute;

      li {
        width: rem-calc(170px);
        float: none;
        display: list-item;
        position: relative;
        background: red;
      }
    }

    ul li:hover > ul {
      display: block;

    }

    }

    .head-nav-main {
      display: inline-block;
    }

    .sign-menu {
      float: right;
      text-align: right;

      @include bp-large {
        text-align: left;
        float: none;
        border: 1px solid red;
      }
    }
}

.nav-toggle {

  right: 0;
  top: rem-calc(20px);
}

#ninja-btn {
  display: none;

  @include bp-large {
    display: block;
    position: relative;
    float: right;
    padding-right: 0;
    top: rem-calc(38px);
  }
}

.welcome-field {
  // margin-top: rem-calc(10px);
  // margin-bottom: rem-calc(10px);
  border-radius: rem-calc(15px);
  height: 100%;
}

.welcome-btn-signup {
  margin-top: rem-calc(15px);
}

.new_user {
  background: none;
}
