
 <div class="admin-menu-container">
	<h1><%= admin_nav_head %></h1>
	  <nav class="admin-bets-menu">
	    <ul>
	    <li> <%= link_to "All deliveries", deliveries_path %> </li>
	    </ul>
	  </nav>
</div>