<% if current_user.points < @prize.price || current_user.experience < @prize.exp_price || current_user.level < @prize.level_needed %>

		<div class="container">
			<div class="row">

			<div class="col-sm-12">
				<div class="delivery-new-prize-container padding-50">
				 	<p> You don't have enough resources to buy <%= @prize.name %> </p>
				</div>
			</div> <!-- col -->
			</div>
		</div>

<% elsif current_user.points >= @prize.price && current_user.experience >= @prize.exp_price && current_user.level >= @prize.level_needed %>

	<div class="container">
		<div class="row">

		<div class="col-sm-12">
			<div class="delivery-new-prize-container padding-50">
			 	<p class="prize-single-name"><%= @prize.name %></p><br />
				<%= render 'form' %>
			</div>
		</div> <!-- col -->
		</div>
	</div>

<% end %>
