$main_red: #fe1530;
$main_background: #f7f7f7;
$main_background2: #eeeeee;
$main_text_on_white: #5e5e5e;
$main_seperation_color: yellow;
$main-link_color: #840917;

$main_color: #363636;
$main_color2: #c4c4c4;
$main_color3: #5b1414;
$main_color4: #505050;
$main_color5: #ababab;
$main_color6: #d6d6d6;

 $won_color: #5cb129;
