<div class="matches-soon-container no-margin-top">
	<div class="container no-padding">
		<div class="row">
			<div class="section_headline">All matches</div>
			<%= render 'show_match' %>
		</div>
	</div>
</div>