<h1>New User</h1>

<ul>
	<li>Fix:</li>
	<li>Remove the fields that aren't needed by the actual user</li>
	<li>Make the removed fields(variables) with default values (equal to 0)</li>
	<li>Auth</li>
	<li>Hash passwords</li>
</ul>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
